body {
  font: 16px "Helvetica", "Arial", sans-serif;
  background: #f5f5f5;
  margin: 0;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 16px);
  max-width: 1024px;
  gap: 24px;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;
  padding: 16px;
}

.sidebar {
  flex: 1 0 200px;
  width: 200px;
  min-width: 200px;
  background: #2c3e50;
  color: white;
}

.sidebar h1 {
  font-size: 1.5rem;
  padding: 16px;
  margin-bottom: 12px;
}

.navigation-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  margin: 0;
}

.navigation-link {
  padding: 12px;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 4px;
}

.navigation-link:hover {
  background: #394959;
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #394959;
}

.main-content {
  flex: 1;
  overflow: auto;
}

.login-form {
  max-width: 300px;
  margin: 0 auto;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group label {
  flex-basis: 100px;
  margin: 0;
}

.btn {
  padding: 8px 12px;
  color: white;
  background: #394959;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background: #2c3e50;
}

.error-message {
  color: red;
}

.connection-status {
  color: green;
}

.proxy-status {
  color: blue;
}

.visually-hidden {
  display: none !important;
}

/* Extra Classes for Reusability */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.bold {
  font-weight: bold;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

@media (max-width: 768px) {
  .wrapper {
    gap: 16px;
    flex-direction: column;
  }

  .sidebar {
    flex: 1 0 120px;
    width: 120px;
    min-width: 120px;
  }

  .sidebar h1 {
    font-size: 1.25rem;
  }

  .main-content {
    padding: 8px;
  }

  .navigation-link {
    padding: 8px;
  }

  .sidebar-item {
    border-bottom: none;
    padding: 8px;
  }
}