.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s linear infinite;
    position: absolute; /* Changed to absolute positioning */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    margin-top: -18px; /* Half of the height */
    margin-left: -18px; /* Half of the width */
    z-index: 10; /* Ensure it's above other elements if needed */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}