file: public/styles.css
content: 
```css
body {
  font-family: sans-serif;
}

form {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.results {
  width: 100%;
  max-width: 1024px;
  padding: 1rem;
  margin: 0 auto;
  line-height: 1.5rem;
}

.error {
  color: red;
}
```