body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    overflow: hidden;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00;
}

input[type="text"] {
    padding: 15px;
    font-size: 1.2em;
    border: 2px solid #00ff00;
    background-color: #222;
    color: #fff;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    margin-bottom: 20px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #00b300;
}

button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #00ff00;
    color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00b300;
}

#error-message {
    color: red;
    margin-top: 10px;
}

#proxy-link {
    margin-top: 20px;
}

#proxy-link a {
    color: #00ff00;
    text-decoration: none;
    font-size: 1.2em;
}

#proxy-link a:hover {
    text-decoration: underline;
}