file: public/theme/particles.css

```css

/* particles.css */
body {
  background-color: transparent;
  animation: moveloop 500s linear infinite;
  background-color: #000;
  overflow: hidden;
}

@keyframes moveloop {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.particle {
  color: #00ff00;
  position: absolute;
  z-index: 100;
  width: 10px;
  height: 10px;
  border-radius: 50%;
   left: calc(50vw - 50px);
  top: calc(50vh - 50px);
  animation: move 10s infinite;
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(500px, 500px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
```